*{
  box-sizing: border-box;
}

html{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4;
  color: #333333;
}

#menu{
  list-style:none;
  padding: 0;
  margin: 0;
}

body{
  margin:0;
}

#menu a{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

#burger{
  background-color: transparent;
  border: 0;
  outline: 0;
  float: right;
}

#header{
  height: 60px;
  background: #fff;
  position:fixed;
  z-index: 99;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  padding-left: 1rem;
}

#navigation{
  display:none;
}

#navigation.show{
  display: block;
  text-align: center;
}

#hero{
  background-image: url(img/intro.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.welcome{
  position: absolute;
  top:50%;
  left:50%;
  transform: translatex(-50%);
  color: #fff;
  text-align: center;

}

.button{
  padding: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);

}

.button-white{
  color:#374a67;
  background: #fff;
  border: 1px solid #374a67;
}

.card{
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  text-align: center;



}

.card img{
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#rezepte{
  padding: 1rem;
}


.card a{
  color: #333;
  text-decoration: none;
}

.card p{
  color: #828282;

}

.card p, .card h3{
  padding: 0 1rem;
}

.card a.button-blue{
  color:#fff;
  background: #374a67;
  border: 1px solid #374a67;
  display: inline-block;
  margin-bottom: 1rem;
}

#rezepte{
  text-align: center;
}

.widget{
  background-color: #04122b;
  text-align: center; /* Damit spreche ich text an */
  color: #fff;
  padding: 2rem;

}
h2 span { /* damit spreche ich das Event span an ohne punkt und hashtag */
  display: block;
  font-weight: normal;
}

.newsletter{
  margin-top: 1rem;
   /* dünne rote linie mit   outline: 1px solid red;*/
  font-size: 1rem;
}
.email{
  height: 49px;
  border-radius: 4px;
  outline: none;
  border-color: transparent;
  padding-left: 1rem;
  color: #04211b;
}

.email::placeholder{ /* selecor um die schrift zu ändern regel ist ::;*/
  color: #04211b;
}
