*{
  box-sizing: border-box;
}

html{
  font-family: "Playfair+Display:400",sans-serif;
  line-height: 1.4;
  color: #333333;
}

#menu{
  list-style:none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;

}

body{
  margin:0;
}

#menu a{
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  color: #333;

}

#menu li {
  padding: 1rem; /* oder line -height bei menu a*/
}

#burger{
  background-color: transparent;
  border: 0;
  outline: 0;
  float: right;
}

#header{
  height: 60px;
  background: #fff;
  position:fixed;
  z-index: 99;
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  padding-left: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation{
  display:none;
  opacity: 0;
  transition: opacity 2s; /*das wäre für die einblendung, funktioniert aber nicht */
}


/* ab background in nav.show alle befehle damit es sich beim drücken des Menüs komplett über den Bildschrim legt ; mit opacity wird es etwas durchsichtig, das Bild drunter ist zu sehen */

#navigation.show{
  display: block;
  text-align: center;
  background: #fff;
  width: 100%;
  height: calc(100vh - 50px);
  position: absolute;
  z-index: 1; /* größer als der Body aber kleiner als 99 */
  margin-top:50px;
  left:0;
  top:0;
  opacity: 1;

}

#hero{
  background-image: url(img/intro.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.welcome{
  position: absolute;
  top:50%;
  left:50%;
  transform: translatex(-50%);
  color: #fff;
  text-align: center;

}

.button{
  padding: 1rem;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);

}

.button-white{
  color:#374a67;
  background: #fff;
  border: 1px solid #374a67;
}

.card{
  border-radius: 4px;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.5);
  width: 100%;
  text-align: center;



}

.card img{
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

#rezepte{
  padding: 1rem;
}


.card a{
  color: #333;
  text-decoration: none;
}

.card p{
  color: #828282;

}

.card p, .card h3{
  padding: 0 1rem;
}

.card a.button-blue{
  color:#fff;
  background: #374a67;
  border: 1px solid #374a67;
  display: inline-block;
  margin-bottom: 1rem;
}

#rezepte{
  text-align: center;
}

.widget{
  background-color: #04122b;
  text-align: center; /* Damit spreche ich text an */
  color: #fff;
  padding: 2rem;

}
h2 span { /* damit spreche ich das Event span an ohne punkt und hashtag */
  display: block;
  font-weight: normal;
}

.newsletter{
  margin-top: 1rem;
   /* dünne rote linie mit   outline: 1px solid red;*/
  font-size: 1rem;
}
.email{
  height: 49px;
  border-radius: 4px;
  outline: none;
  border-color: transparent;
  padding-left: 1rem;
  color: #04211b;
}

.email::placeholder{ /* selecor um die schrift zu ändern regel ist ::;*/
  color: #04211b;
}

#social-nav li{
  display: inline;
  text-align: center;
  padding: 2px; /* der Abstand dazwischen funktionuert auch ohne padding herzustellen aber so kann ich es größer machen;*/

}

#social-nav{
  text-align: center;
}

#social-nav a{
  color: black;
  font-size: 25px;
  text-decoration: none; /* keine unterstriche mehr unter den links ;*/
}

#social-nav a:hover{ /* hover beschreibt den zustand: jemand fährt mit der maus drüber ;*/
color: #828282;
transition: 2s; /* oder lang von Markus: transition: all 1s 2s ease in  und ünerhaupt gehört transition das in den urselector #social-nav a sonst wird es bei bewegungen zu ruckelig */

}

#footer-nav {
  text-align: center;
  margin-bottom: 1rem; /* muss nicht aber so könnte ich abstand herstellen;*/
}
#footer-nav li{
  list-style-type: none;
  margin: 0; /* funktioniert auch ohne ; also optinonal  ;*/
  padding: 0;/* funktioniert auch ohne ; also optional  ;*/
}
#footer-nav a {
  color: black;
  text-decoration: none;
}

#footer {
  background-color: pink;
  padding: 2rem;
}

@media (min-width: 48em) { /* stylesheet mit styelshhet: wenn du diese größe hast, dann mach dich rot ; nennt sich umbruch */
  body{
    background: yellow;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: auto;
  }
  .card {
    width: 48%;
    margin: 1%;
  }
}

#footer-nav li{ /* abstand zwischen impressum . kontankz ;*/
  padding: .4rem;
}



@media (min-width: 48em) {   /* oder so lösen:#footer - display flex dann den platz zwichen euch sein -justifiy content: space between dann auf der höhe zentriert- align itdem center - --- dann nächste { } spreche #footer-nav li mit display inline blok --- dann  */
  #footer-nav ul{
    display: flex;

  }


  #footer{
    display: flex;
    justify-content: space-between;
  }
}
